<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <form th:object="${cloth}">
        <div class="form-group">
            <label th:for="clothName">별명</label>
            <span th:text="${cloth.clothName}" class="form-control"></span>
        </div>

        <div class="form-group">
            <label th:for="image">사진</label>
            <img th:src="${cloth.image == null ? 'http://localhost:8080/image/no_image.png' : cloth.image.imageServerPath}" id="wardrobe_image_view" class="form-control" style="height: 400px;">
        </div>

        <div class="form-group">
            <label th:for="clothType">종류</label>
            <span th:text="${cloth.clothType}" class="form-control"></span>
        </div>

        <div class="form-group">
            <label th:for="clothColor">색상</label>
            <span th:text="${cloth.clothColor}" class="form-control"></span>
        </div>

        <div class="form-group">
            <label th:for="clothBrand">브랜드</label>
            <span th:text="${cloth.clothBrand}" class="form-control"></span>
        </div>

        <div class="form-group">
            <label th:for="buyingWay">구매 방법</label>
            <span th:text="${cloth.buyingWay}" class="form-control"></span>
        </div>

        <div class="form-group">
            <label th:for="buyingDate">구매 날짜</label>
            <span th:text="${cloth.buyingDate}" class="form-control"></span>
        </div>

        <br/>

        <div class="form-group">
            <input type="button" class="btn btn-dark" id="btn-cloth-like-change"
                   th:value="${cloth.likeUser==true} ? '좋아요 취소 ' + ${cloth.likeCnt} : '좋아요 ' + ${cloth.likeCnt}"/>
        </div>

        <br/>

        <table class="table table-striped">
            <tbody>
            <label th:text="${cloth.member.name} + '님 만의 코디를 구경해보세요!'"></label>
            <tr th:each="record : *{records}" >
                <td></td>
                <td th:text="${record.getSubject()}"></td>
                <td th:text="${record.getContent()}"></td>
                <td th:text="${record.getCreatedDate().getYear()} + '년 '
                + ${record.getCreatedDate().getMonthValue()} + '월 '
                + ${record.getCreatedDate().getDayOfMonth()} + '일'"></td>
                <td>
                    <input type="button" th:if="${record.member.email == session.user.email}" class="btn btn-dark" name="btn-record-delete" th:id="'btn-record-delete' + ${record.id}" value="삭제"/>
                </td>
            </tr>
            </tbody>
        </table>

        <br/>

        <div class="form-group" th:if="${cloth.member.email == session.user.email}">
            <label for="record-image" th:text="'해당 품목에 대한 ' + ${cloth.member.name} + '님만의 코디를 보여주세요 :)'"></label>
            <img src="http://localhost:8080/image/example_image.jpeg" class="form-control" style="height: 150px; width:150px">
            <input type="image" value="image/example_image.jpeg" class="form-control" id="record-image" hidden>
            <input type="text" class="form-control" id="record-subject" placeholder="제목을 입력하세요."> <br/>
            <textarea class="form-control" id="record-content" placeholder="내용을 입력하세요."></textarea>
            <input type="button" class="btn btn-dark" id="btn-record-save" value="등록" style="float: right; margin-top:2px;">
        </div>
    </form>

    <br/>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->

<input type="hidden" class="form-control" id="cloth_id" th:value="${cloth.id}">

</body>
</html>
