<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <head th:replace="fragments/header :: header" /> <body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>사진</th>
                <th>아이템</th>
                <th>작성자</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
                <td>
                    <img th:src="${record.imageServerPath == null ? '/image/no_image.png' : record.imageServerPath}" id="record_image_view" class="form-control" style="height: 200px; width: 200px">
                </td>
                <!--<a href="#" th:text="${wardrobe.name}" th:href="@{/wardrobes/{id} (id=${wardrobe.id})}"></a>-->
                <td>
                    <a href="#" th:text="${record.clothName}" th:href="@{/clothes/{id} (id=${record.clothId})}"></a>
                </td>
                <td th:text="${record.memberName}"></td>
                <td th:text="${record.likeCnt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
<script>

</script>
</html>