<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="name">옷장 이름을 지어주세요.</label>
                <input type="text" class="form-control" id="name" placeholder="옷장 이름을 입력하세요">
            </div>

            <div class="form-group">
                <form method="POST" enctype="multipart/form-data" id="upload-image-form">
                    <label for="file">옷장을 대표할 사진을 등록해주세요.</label>
                    <input id="uploadFile" disabled="disabled"/>
                    <div id="file-form" class="fileUpload btn btn-dark small">
                        <span>이미지 선택</span>
                        <input type="file" id="file" class="upload" />
                    </div>                </form>
            </div>

            <div class="form-group">
                <label for="isPublic">사람들에게 나만의 옷장을 공개하세요!</label>
                <select name="isPublic" id="isPublic" class="form-control">
                    <option value="true">공개 할래요!</option>
                    <option value="false">공개 안할래요..</option>
                </select>
            </div>
        </form>

        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
