<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <a href="/">
        <h3 class="text-muted">옷장 서포터</h3>
    </a>

    <div class="navbar-dark">
        <div th:if="${session.user == null}" class ="nav-tabs">
            <a class="btn btn-lg btn-info" href="/oauth2/authorization/google">로그인</a>
        </div>

        <div th:if="${session.user != null}" class ="member-name-label">
            <img class="figure-img" th:src="${session.user.getPicture()}"> &nbsp;
            <td class="member-summary" th:text="${session.user.getName() + '님'}"></td>
            <a class="btn btn-lg btn-info" href="">로그아웃</a>
        </div>
    </div>
</div>