<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <p class="lead">옷장을 이쁘게 꾸며보세요</p>
        <p>
            <a class="text-body" href="/member/wardrobe"><span style="font-size:30px;">💁</span>나만의 옷장 꾸미기</a>
        </p>

        <p class="lead">사람들은 주로 무슨 옷을 입을까요?</p>
        <p>
            <a class="text-body" href="/items/new"><span style="font-size:30px;">👍</span>나만의 선호도 알아보기</a> <br/>
            <a class="text-body" href="/items/me"><span style="font-size:30px;">🙌</span>모두의 선호도 알아보기</a>
        </p>
        <p class="lead">다른 사람들과 나만의 옷장을 공유하세요!</p>
        <p>
            <a class="text-body" href="/wardrobes"><span style="font-size:30px;">‍👩‍👧‍👦</span>모두의 옷장 구경하기</a> <br/>
            <a class="text-body" href="/records"> <span style="font-size:30px;">👫</span>모두의 코디 구경하기</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
