<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
    </script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron"> <h2>쇼핑 서비스</h2>
        <p class="lead">옷 메뉴</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">나만의 옷장 보기</a>
            <a class="btn btn-lg btn-info" href="/wardrobes/save">나만의 옷장 등록</a>
        </p>

        <p class="lead">통계 메뉴</p>
        <p>
            <a class="btn btn-lg btn-info" href="/items/new">나만의 통계 보기</a>
            <a class="btn btn-lg btn-info" href="/items/me">모두의 통계 보기</a>
        </p>
        <p class="lead">커뮤니티 메뉴</p>
        <p>
            <a class="btn btn-lg btn-info" href="/items/new">모두의 옷장 구경하기</a>
            <a class="btn btn-lg btn-info" href="/items/me">모두의 코디 구경하기</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
